* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
:root {
  --color-text-main: 333333;
}
body {
  font-family: "Poppins";
}
.content {
  width: 100%;
  height: 100vh;
  min-width: 768px;
}
.img {
  display: flex;
  height: 100%;
}
.left-img {
  display: inline;
}
.head {
  display: flex;
  justify-content: space-between;
  margin: 50px 71px 39px 71px;
}
main {
  display: flex;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
.sing-up {
  display: inline-flex;
}
.right-p {
  display: inline-flex;
  color: var(--color-text-main);
  font-size: 18px;
  padding-right: 8px;
}
.left-p {
  display: flex;
  color: var(--color-text-main);
  font-size: 16px;
}
.right-head {
  display: flex;
}
.left-droplist {
  display: flex;
}
.drop-icon {
  padding-left: 9px;
}
.sing-up {
  background-color: transparent;
  border-radius: 32px;
  -webkit-border-radius: 32px;
  -moz-border-radius: 32px;
  -ms-border-radius: 32px;
  -o-border-radius: 32px;
  padding: 5px 28px 5px 28px;
  width: 131px;
  height: 40px;
  border: 1px solid #111111;
  font-size: 20px;
  color: #111111;
}
.Model-input {
  padding: 40px 40px 40px 40px;
  margin: auto;
  margin-top: 20px;
  width: 558px;
  height: 750px;
  border: solid #66666635 1px;
  border-radius: 32px;
  -webkit-border-radius: 32px;
  -moz-border-radius: 32px;
  -ms-border-radius: 32px;
  -o-border-radius: 32px;
}
.title-group {
  display: block;
  margin: auto;
  width: 349px;
  height: 144px;
}
.logo {
  display: block;
  margin: auto;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-image: url(/assets/images/تنزيل.png);
  background-color: #000000;
  background-size: 40px 40px;
}
.First-title {
  text-align: center;
  color: #333333;
  display: block;
  margin: auto;
  font-size: 32px;
}
.second-title {
  text-align: center;
  color: #666666;
  display: block;
  margin: auto;
  font-size: 16px;
}
.form-input {
  display: block;
}
.label-email {
  color: #666666;
}
.input-email {
  margin-bottom: 24px;
  display: block;
  width: 478px;
  height: 56px;
  border-color: #66666635;
  border-radius: 12px;
}
.label-password {
  color: #666666;
}
.password-hide {
  margin-left: 325px;
}
.input-password {
  display: block;
  margin: auto;
  width: 478px;
  height: 56px;
  border-color: #66666635;
  border-radius: 12px;
}
.checkbox {
  display: flex;
  width: 478px;
  height: 64px;
  margin: auto;
  padding-top: 24px;
}
.input-checkbox {
  accent-color: #000000;
  padding-left: 24px;
  display: flex;
  height: 24px;
  width: 24px;
  margin-right: 16px;
}
.button-log-in {
  border: hidden;
  font-size: 20px;
  color: white;
  background-color: #c3c3c3;
  margin: 24px 0px 20px 0px;
  display: block;
  width: 478px;
  height: 64px;
  border-radius: 32px;
  -webkit-border-radius: 32px;
  -moz-border-radius: 32px;
  -ms-border-radius: 32px;
  -o-border-radius: 32px;
}
.hr {
  height: 1px;
  overflow: visible;
  text-align: center;
  color: #666666;
}
hr::after {
  background-color: #ffffff;
  content: "OR";
  position: relative;
  padding: 0 10px;
  top: -10px;
}
.button-google {
  color: #333333;
  font-size: 22px;
  margin: auto;
  display: block;
  width: 478px;
  height: 64px;
  background-color: #ffffff;
  border-radius: 40px;
  margin-top: 23px;
  margin-bottom: 16px;
}
.icon-googl {
  height: 24px;
  width: 24px;
  margin-right: 22px;
}
.button-Apple {
  color: #333333;
  font-size: 24px;
  background-color: #ffffff;
  margin: auto;
  display: block;
  width: 478px;
  height: 64px;
  border-radius: 40px;
}
.icon-apple {
  height: 24px;
  width: 24px;
  margin-right: 16px;
}
.last-button {
  margin: auto;
  display: block;
}
@media (max-width: 768px) {
  .img {
    display: none;
  }
}
